<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/canvas"></div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">

        <div th:if="${not #lists.isEmpty(model.contracts)}">
          <div th:each="contract : ${model.contracts}"
               class="d-flex flex-column bg-text mb-3 p-3 border rounded">
            <h4 th:text="'ID: ' + ${contract.id}">ID</h4>
            <h4 th:text="'Игрок ID: ' + ${contract.playerId}">Player ID</h4>
            <h4 th:text="'Команда: ' + ${contract.team}">Team</h4>
            <h4 th:text="'Зарплата в год: ' + ${contract.salaryPerYear}">Salary per year</h4>
            <h4 th:text="'Начало контракта: ' + ${contract.contractStartDate}">Start date</h4>
            <h4 th:text="'Конец контракта: ' + ${contract.contractEndDate}">End date</h4>
            <div class="mt-2"></div>
          </div>

          <nav th:if="${model.totalPages > 1}" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item"
                  th:each="pageNumber : ${#numbers.sequence(1, model.totalPages)}"
                  th:classappend="${pageNumber == form.page} ? 'active'">
                <a class="page-link"
                   th:href="@{/contracts(page=${pageNumber}, size=${form.size})}"
                   th:text="${pageNumber}">1</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mt-4">
          <a class="btn btn-success" th:href="@{/contracts/create}">Добавить новый контракт</a>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
