<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/canvas"></div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Данные контракта</h1>
        </div>
        <div class="row bg-light rounded">
          <h2>Контракт</h2>
          <h4 th:text="'ID: ' + ${model.contract.id}"></h4>
          <h4 th:text="'Игрок ID: ' + ${model.contract.playerId}"></h4>
          <h4 th:text="'Команда: ' + ${model.contract.team}"></h4>
          <h4 th:text="'Зарплата в год: ' + ${model.contract.salaryPerYear}"></h4>
          <h4 th:text="'Начало контракта: ' + ${model.contract.contractStartDate}"></h4>
          <h4 th:text="'Конец контракта: ' + ${model.contract.contractEndDate}"></h4>
        </div>
        <div class="mt-2">
          <a class="btn btn-success"
             th:href="@{/contracts}">Назад к контрактам</a>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>