<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/canvas}"></div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Данные игры</h1>
        </div>
        <div class="row bg-light rounded">
          <h2>Игра</h2>
          <h4 th:text="'ID: ' + ${model.game.id}"></h4>
          <h4 th:text="'Домашняя команда: ' + ${model.game.teamNameHome}"></h4>
          <h4 th:text="'Гостевая команда: ' + ${model.game.teamNameVisit}"></h4>
          <h4 th:text="'Счёт домашней команды: ' + ${model.game.scoreHomeTeam}"></h4>
          <h4 th:text="'Счёт гостевой команды: ' + ${model.game.scoreVisitTeam}"></h4>
          <h4 th:text="'Стадион: ' + ${model.game.stadiumName}"></h4>
          <h4 th:text="'Дата игры: ' + ${model.game.dateOfGame}"></h4>
        </div>
        <div class="mt-2">
          <a class="btn btn-success"
             th:href="@{/games}">Назад к играм</a>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>