<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/canvas}"></div>

<main class="flex-shrink-0 mt-5 flex-grow-1">
    <div class="container h-100">
        <section class="row h-60 rounded-5" style="box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);">
            <!-- Левый контейнер  -->
            <section class="col-md-6 d-flex flex-column mt-3">
                <h2 class="text-center">Последние игры</h2>
                <div class="d-flex flex-column">
                    <section th:each="game : ${model.lastGames}" class="rounded-5 p-3 mb-3"
                         style="box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); background-color: #f8f9fa;">
                        <div class="game-info d-flex justify-content-between align-items-center w-100">
                            <p><strong th:text="${game.teamNameH}"></strong> - <strong th:text="${game.teamNameV}"></strong></p>
                            <p>Счет: <span th:text="${game.scoreH}"></span> - <span th:text="${game.scoreV}"></span></p>
                            <p>Дата: <span th:text="${game.timeOfGame}"></span></p>
                        </div>
                    </section>
                </div>
            </section>

            <!-- Правый контейнер -->
            <section class="col-md-6 d-flex flex-column mt-3">
                <h2 class="text-center">Лучшие игроки</h2>
                <div class="d-flex flex-column">
                    <section th:each="player : ${model.bestPlayers}" class="rounded-5 p-3 mb-3"
                             style="box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); background-color: #f8f9fa;">
                        <div class="player-info d-flex justify-content-between align-items-center w-100">
                            <p><strong th:text="${player.fullName}"></strong></p>
                            <p>Очки: <span th:text="${player.points}"></span></p>
                            <p>Пасы: <span th:text="${player.assists}"></span></p>
                            <p>Блоки: <span th:text="${player.blocks}"></span></p>
                        </div>
                    </section>
                </div>
            </section>
        </section>

        <div class="d-flex justify-content-between py-4">
            <h1 class="text-left">BSCT</h1>
            <h1 class="text-right">BSCT</h1>
        </div>

        <div class="row mt-2">
            <section class="rounded-5" style="box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);">
                <div class="d-flex justify-content-between">
                    <!-- Первый контейнер -->
                    <div class="col-md-6 mt-3">
                        <h3 class="text-center">Лучший игрок сезона:</h3>
                        <p th:text="${model.bestPlayerSeason.fullName}" class="text-center fs-5 fw-bold"></p>
                        <p class="text-center">
                            <span th:text="${model.bestPlayerSeason.avPoints}" class="fw-bold"></span>
                            <span> Avg points, </span>
                            <span th:text="${model.bestPlayerSeason.avAssists}" class="fw-bold"></span>
                            <span> Avg ass., </span>
                            <span th:text="${model.bestPlayerSeason.avBlocks}" class="fw-bold"></span>
                            <span> Avg blocks</span>
                        </p>
                        <p th:text="'Команда: ' + ${model.bestPlayerSeason.teamName}" class="text-center"></p>
                    </div>

                    <!-- Второй контейнер -->
                    <div class="col-md-3 mt-3">
                        <h4 class="text-center">Смотреть топ 4 игроков сезона...</h4>
                        <div class="mt-4 d-flex justify-content-center">
                            <a class="btn btn-primary"
                               th:href="@{/best}">Смотреть!</a>
                        </div>
                    </div>

                    <!-- Третий контейнер -->
                    <div class="col-md-3 mt-3">
                        <h4 class="text-center">Узнай о своём любимом игроке!</h4>
                        <div class="mt-4 d-flex justify-content-center">
                            <a class="btn btn-primary"
                               th:href="@{/search}">Узнать!</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</main>

</body>
</html>
