<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/canvas"></div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Изменить Игрока</h1>
        </div>
        <form th:action="@{/players/edit/{id}(id=${form.id})}"
              th:method="post"
              th:object="${form}"
              class="m-md-auto w-50 pb-3">

          <input th:field="*{id}"
                 type="hidden"
                 id="id"/>

          <div class="mb-3">
            <label class="form-label" for="fullName">Full Name</label>
            <input th:field="*{fullName}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control text-center"
                   id="fullName"/>
            <small th:if="${#fields.hasErrors('fullName')}"
                   th:errors="*{fullName}"
                   class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="height">Height</label>
            <input th:field="*{height}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control text-center"
                   id="height"/>
            <small th:if="${#fields.hasErrors('height')}"
                   th:errors="*{height}"
                   class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="country">Country</label>
            <input th:field="*{country}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control text-center"
                   id="country"/>
            <small th:if="${#fields.hasErrors('country')}"
                   th:errors="*{country}"
                   class="text-danger">Error message</small>
          </div>

          <div class="mb-3">
            <label class="form-label" for="age">Age</label>
            <input th:field="*{age}"
                   th:errorclass="is-invalid"
                   type="number"
                   min="17"
                   class="form-control text-center"
                   id="age"/>
            <small th:if="${#fields.hasErrors('age')}"
                   th:errors="*{age}"
                   class="text-danger">Error message</small>
          </div>

          <button type="submit" class="btn btn-secondary">Изменить игрока</button>
        </form>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
