<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" >
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/canvas}"></div>
<main class="flex-shrink-0">
  <div class="container d-flex justify-content-center align-items-center h-100">
    <div class="row w-100">
      <div class="col-12 d-flex justify-content-center">
        <section class="profile-card p-4 rounded-5 mt-5" style="background-color: #f8f9fa;">
          <div class="text-center mb-4">
            <h1>Profile</h1>
          </div>
          <section class="rounded-5 p-4" style="box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); background-color: #ffffff;">
            <div class="col-md-6" th:object="${user}">
              <h2>User</h2>
              <h4 th:text="'Full Name: ' + *{fullName}"></h4>
              <h4 th:text="'Username: ' + *{username}"></h4>
              <h4 th:text="'Age: ' + *{age}"></h4>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>