<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Offcanvas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<button class="btn btn-primary position-absolute top-0 end-0 m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
  ☰ Меню
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Меню</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <hr>
      <div class="text-muted">Найти сущность</div>
      <hr>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/players">Найти игрока</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/teams">Найти команду</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/games">Найти игру</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/contracts">Найти конракт</a>
      </li>
      <hr>


      <div class="text-muted">Создать сущность</div>
      <hr>

      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/players/create">Создать игрока</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/teams/create">Создать команду</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/games/create">Создать игру</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-dark" href="/contracts/create">Создать контракт</a>
      </li>

    </ul>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
